<%- model_class = InventoryObject -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if @inventory_objects %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Version</th>
      <th><%= model_class.human_attribute_name(:id1) %></th>
      <th><%= model_class.human_attribute_name(:id2) %></th>
      <th><%= model_class.human_attribute_name(:id3) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @inventory_objects.each do |inventory_object| %>
      <tr>
        <td><%= inventory_object.inventory_object_version.name %></td>
        <td><%= link_to inventory_object.id1, inventory_object %></td>
        <td><%= inventory_object.id2 %></td>
        <td><%= inventory_object.id3 %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_inventory_object_path(inventory_object), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_inventory_object_path,
            :class => 'btn btn-primary' %>
