<%- model_class = InventoryObject -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id1) %>:</strong></dt>
  <dd><%= @inventory_object.id1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:id2) %>:</strong></dt>
  <dd><%= @inventory_object.id2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:id3) %>:</strong></dt>
  <dd><%= @inventory_object.id3 %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              inventory_objects_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_inventory_object_path(@inventory_object), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              inventory_object_path(@inventory_object),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
