<h3>Successfully imported <%= @good.count %> Inventory Loans! </h3>
<% @bad.each do |record| %>
	<%= record[:row]['loanee'] %> | <%= record[:row]['inventory object'] %>
	<% record[:errors].each do |error, msg| %>
		<%= error %> : <%= msg %>
	<% end %>
	</br>
<% end %>
