<h1>Listing loanees</h1>

<table>
  <tr>
    <th>Fullname</th>
    <th>Idnum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loanees.each do |loanee| %>
  <tr>
    <td><%= loanee.fullname %></td>
    <td><%= loanee.idnum %></td>
    <td><%= link_to 'Show', loanee %></td>
    <td><%= link_to 'Edit', edit_loanee_path(loanee) %></td>
    <td><%= link_to 'Destroy', loanee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loanee', new_loanee_path %>
