<div class="well well-small">
  <p><%= report.body %></p>
  <% if report.open_issue then %>
    <span class="label label-important">Open</span>
  <% else %>
    <span class="label label-info">Closed</span>
  <% end %>
  <p><h6>Reported by: <%= report.administrator.fullname %> at <%= report.created_at %></h6></p>
  <%= link_to "Edit", edit_report_entry_path(report), :class => "btn btn-warning pull-right" %>
  <p><h6>Applies to: 
    <% objects = [] %>
    <% report.inventory_objects.each do |object| %>
      <% objects << link_to(object.id1, object) %> 
    <% end %>
    <%= objects.join(',').html_safe %>
  </h6></p>
</div>

